@using MvsPL.Models
@model IEnumerable<TestViewModel>
@{
    ViewBag.Title = "AllTests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Tests</h2>
<div>
    @foreach (var item in Model)
    {
        @*@*<h3>Title of the test: @item.Title</h3>
        <p>Category : @item.Category</p>
        <p>Short Description : @item.ShortDescription</p>
        <p>Time of passage : @item.TimeToComplete</p>
        <p>Date of publication : @item.DateOfPublication</p>*@
        @Html.ActionLink(item.Title,"GetTest",new{item.Id})
    }
</div>
<p>
    @Html.ActionLink("Add new test", "Create")
    @Html.ActionLink("Go home", "Index")
    @Html.ActionLink("Pass test", "PassTest", new { id = 0 })
</p>
