
@model MvsPL.Models.TestViewModel
@*<script src="/Scripts/jquery-1.9.1.min.js"
        type="text/javascript"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>*@
<script src='@Url.Content("~/Scripts/knockout-3.4.0.js")' type="text/javascript"></script>
@*<script src='@Url.Content("~/Scripts/MyScripts/ko-timer.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/jquery-1.9.1.min.js")' type="text/javascript"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>*@
@*@Scripts.Render("~/bundles/jquery")*@

<body>

    <h3>THIS IS A TIMER</h3>
<div id="timer" style="align-content: center ">
   <h3> <span data-bind="text: hours"></span> : <span data-bind="text: minutes"></span> : <span data-bind="text: seconds"></span></h3>
    @*<h3><span data-bind="text: minutes"></span> :</h3>
    <h3> <span data-bind="text: seconds"></span></h3>*@
</div>
@using (Html.BeginForm())
{

    <fieldset>
        <h3>Title of the test: @Model.Title</h3>
        @Html.EditorFor(x => x.Questions)

        @foreach (var item in Model.Questions)
        {

        }

        @Html.Submit("Result")
    </fieldset>
        @*<input   type="button" id="ajaxBtn" value="Send Ajax request" />*@

}
<table>
    <tr id="nextQuestion"></tr>
</table>
<input type="button" id="Button" data-id="1" value="NextAjax">

</body>
<script type="text/javascript">

    function ViewModel() {
    var self = this;

        self.timer = ko.observable(@Model.TimeToComplete.Seconds);

        self.hours = ko.computed(function () {
            return Math.floor(self.timer() / 3600);
        }, self);

        self.minutes = ko.computed(function () {
            return Math.floor(self.timer() / 60) % 60;
        }, self);

        self.seconds = ko.computed(function () {
            return self.timer() % 60;
        }, self);


        setInterval(function () {
            var newTimer = self.timer() - 1;
            self.timer(newTimer <= 0 ? 60 : newTimer);
        }, 1000);
    };

    ko.applyBindings(new ViewModel());

   
    $(function() {
        $('#Button').click(function() {
            var linkId = $(this).attr("data-id");
            if (linkId != null) {
                $.getJson("/Test/GetQuestion", { "idTset": linkId }),
                    function(data) {
                        $('#nextQuestion').html(data.Formulation);
                    }
            }
        });
    });

</script>