@model MvsPL.Models.QuestionViewModel
           @*@model IEnumerable<MvsPL.Models.AnswerViewModel>*@
<div>
@Html.HiddenFor(x => x.Id)
    <p>
        Question # @Model.Id: @Model.Formulation
    </p>
@foreach (var item in Model.Answers)
{
    @*@Html.Hidden(item.Id.ToString())*@
    <p>
        @Html.RadioButtonFor(b => b.SelectedAnswer, item.Text) @item.Text
    </p>
}
    @*<input type="button" id="getPeople" value="Get People" />*@
    <a class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Test")'" role="button">Next &raquo;</a>
</div>